
.card-flip {
    position: absolute;
    background-color: rgb(171, 184, 199);
    height: 307px;
    width: 100.5%;
    left: -1px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: 96%;
    flex-direction: column;
    z-index: 1;
    transition: all 1s ease-in-out;
}

.card-card-flip {
    text-align: center;
    margin-top: 4rem;
}

.head-flip-card {
    display: flex;
    margin: 1rem 0;
}

.head-flip-card .head-flip-delivery {
    margin: 0 1rem;
    padding: .5rem 1.5rem;
    border: 1px solid grey;
}

.head-flip-card .head-flip-delivery span {
    margin: 0 .4rem;
}

.btn-incredec {
    padding: 1rem 2rem;
    align-items: center;
    max-height: 2.1rem;
    display: flex;
    font-size: 33px;
    background-color: rgb(135, 158, 149);
    color: white;
    margin: 0 2rem;
}

.btn-incredec span{
    margin: 0 -.5rem;
    position: absolute;
    top: -0.6rem;
}

.buttons-bottom{
    display: flex;
    position: absolute;
    justify-content: center;
    height: 300px;
    width: 100%;
    top: 30vh;
    text-align: center;
    margin: 0 auto;
    z-index: 9;
}

.add-to-card-btn {
    position: relative;
    top: 9.75rem;
    width: 100%;
    /* height: 50px; */
    left: 0;
    color: white;
    font-weight: bolder;
    background-color: rgb(13, 150, 13);
}

.from-bottom {
    left: 0;
    top: 23%;
}