
[class^="ccard"] {
    position: relative;
    height: 400px;
    padding: 10px;
    margin: 1rem;
    background-color: white;
    transition: all 500ms ease-in-out;
    box-shadow: 4px rgb(33, 184, 33);
}

.ccard img {
    width: 100%;
    max-height: 255px;
}

.btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(33, 184, 33);
    color: white;
    border-radius: 0;
    width: 100%;
    outline: none;
    display: none;
}

.btn:hover {
    color: white;
    outline: none;
    box-shadow: none;
}



.ccard:hover .btn {
    display: block;
    color: white;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.badge-online {
    color: rgb(4, 96, 4);
    padding: .3rem 2rem;
    margin: .2rem 1.3rem;
    font-weight: bold;
    position: absolute;
    background-color: rgb(223, 237, 172);
}


